/*some styling  */

* {
  border: none;
}


body{
    background-color: lightblue;
    text-align: center;
}

    h1, h2{
         /* text-align: center; */
        color: #0F0830;
        text-shadow: grey 1px 0 10px;
        padding: 20px;
    }

button , input{
    width:100px;
    height: 60px;
    background-color: #5882FA;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
     box-shadow:none;
     border:solid 3px;
     border-width: medium;
     border-radius: 10px;
     border-color: #DC5555;
     color: #0F0830;
}

button:focus {
  outline: none;
}

button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

input:focus {
    outline: none;
  }

  input:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
p{
  text-align: justify;
  color: #0F0830;
  font-size: 20px;
}